<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <style>
        body{
            background-color: beige;
            text-align: center;
            padding-top:10%
        }

        img {
            width: 10rem;
            height: 10rem;
        }
        @page {
            size: Letter;
            margin: 0.2in 0.2in
        }

    </style>
    <title>Profile</title>
</head>
<body>
    
    <img src="{{ user.image }}" alt="" srcset="">

    <h5> Username: {{  user.username }}</h5>  
    <h5> EMail: {{ user.email }}</h5>
    {% if user.bio %}
        <h5> Bio : {{ user.bio }} </h5>
    {% endif %}
    {% if user.address %}
        <h5> Address : {{ user.address }}</h5>
    {% endif %}
    {% if user.hobby %}
        <h5> Hobby :{{ user.hobby }}</h5>
    {% endif %}
</body>
</html>