<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Document</title>
</head>
<body>
    
    <h2>{{ user.username }}</h2>
    <form action="{{ url_for('update' ,id=user.id ) }}" method="POST">
        <input type="text" name="bio" id="" value="{{ user.bio }}">
        <input type="text" name="address" id="" value="{{ user.address }}" placeholder="address">
        <input type="text" name="hobby" id="" value="{{ user.hobby }}" placeholder="hobby">
        <input type="submit" value="Update">
    </form>


</body>
</html>